:root{
    --text-color: rgba(150, 13, 150, 0.9);
    --bg-color: rgba(19,19,19,.1);
    --hover-color: rgba(250, 0, 250, 1);
}


/* .dark-mode{
    --text-color: rgba(240, 13, 13, 0.9);
    --bg-color: rgba(19,19,19,.99);
    --hover-color: rgba(255, 240, 240, 1);
} */

.dark-mode{
    --text-color: rgba(240, 13, 240, 0.7);
    --bg-color: rgba(70,70,70,.99);
    --hover-color: rgba(200, 200, 200, 1);
}

.cc{
    margin:26%;
    border:13%;
}
.cc:hover{
    text-shadow: 0 0 20px var(--hover-color);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin:0;
}

.toggle-div{
    position: relative;
    /* position: absolute;
    top:  63%;
    left: 50%;
    transform: translate(-50%, -63%); */
    color: var(--text-color);
    text-align: center;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size: 60%;
    margin: 0;
    cursor: pointer;
}

.toggle-div:hover{
    color: var(--hover-color);
}

.container {
    text-align: center;
    padding-top: 40vh;
}


.portfolio-link{
    position: relative; 
    /* top: 58%;
    left: 50%;
    transform: translate(-50%, -58%); */
    /* margin-top: 58vh;
    margin-left: 50vw; */
    text-align: center;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size: 70%;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.portfolio-text{
    color:var(--text-color);
}

.portfolio-text:hover{
    text-decoration: none;
    color:var(--hover-color);
}


.name-block-chinese {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-90%, -10%);
    color: var(--text-color);
    text-align: center;
    font-family: 'Microsoft YaHei', 'SimSun', sans-serif;
    font-size: 170%;
    margin: 0;
    z-index:99;
}

.name-block{
    position: relative;
    margin-bottom: 60vh;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: var(--text-color);
    text-align: center;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size: 170%;
    margin: 0;
    z-index: 99;
}


/* Hide the vertical scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Hide the horizontal scrollbar */
::-webkit-scrollbar-horizontal {
    height: 0.5em;
}

/* Optionally, you can also hide the scrollbar in Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 0.1em;
}

  