:root{
    --text-color: rgba(170, 13, 170, 0.9);
    --bg-color: rgba(19,19,19,.1)
}


.dark-mode{
    --text-color: rgba(255, 13, 13, 0.9);
    --bg-color: rgba(19,19,19,.99);

}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin:0;
}

.toggle-div{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    color: var(--text-color);
    text-align: center;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size: 70%;
    margin: 0;
    cursor: pointer;
}


.theme-toggle {
    cursor: pointer;
}

.portfolio-link{
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-30%, -10%);
    color: var(--text-color);
    text-align: center;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size: 70%;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.portfolio-text{
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.name-block-chinese {
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-90%, -20%);
    color: var(--text-color);
    text-align: center;
    font-family: 'Microsoft YaHei', 'SimSun', sans-serif;
    font-size: 170%;
    margin: 0;
}

.name-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    text-align: center;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size: 170%;
    margin: 0;
}

#animation-section{
    margin: 0;
}



/* Hide the vertical scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Hide the horizontal scrollbar */
::-webkit-scrollbar-horizontal {
    height: 0.5em;
}

/* Optionally, you can also hide the scrollbar in Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 0.1em;
}

  